#header {
    height: 200px;
    background-color: brown;
}

span {
    font-size: 40px;
    font-weight: bold;
    vertical-align: center;
}

#title {
    float: left;
    text-align: left;
    margin-left: 100px;
    color: white; 
}

#new-dish-button {
    float: right;
    text-align: right;
    margin-right: 100px;
    color: white; 
}

#new-cuisine-button {
    float: center;
    text-align: center;
    margin-right: 100px;
    color: white;
}

span {
    margin: 1em;
    margin: 0 0 0.5em 0;
    padding: 15px;
    display: inline-block;
    justify-content: center;
}
