#header {
    height: 200px;
    background-color: brown;
}

span {
    font-size: 40px;
    font-weight: bold;
    vertical-align: center;
}

#title {
    float: left;
    text-align: left;
    margin-left: 100px;
    color: white; 
}

#new-dish-button {
    float: right;
    text-align: right;
    margin-right: 100px;
    color: white; 
}